html {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(110, 103, 0);
  height: 50px;
}

.bar {
  gap: 50px;
}

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.list {
  
  padding: 45px;

}

.nombre {
  width: 750px;
  height: 25px;
}

.correo {
  width: 750px;
  height: 25px;
}
ul {
  padding: 0%;
}

li {
  list-style: none;
}